<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <!-- responsive screen size viewport code-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Buddy</title>
    <!--Link to CSS reset-->
    <link rel="stylesheet" type="text/css" href="styles/reset.css">
    <!-- Link to CSS style sheet-->
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <!-- Link to Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Baloo|Montserrat&display=swap" rel="stylesheet">
</head>

<body>
  {{{body}}}
</body>

<!--Javascript file-->
<script src="js/wiki.js"></script>
<script>
    function initMap() {
        var directionsRenderer = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: {lat: 41.85, lng: -87.65}
        });
        directionsRenderer.setMap(map);
        directionsRenderer.setPanel(document.getElementById('right-panel'));

        var control = document.getElementById('floating-panel');
        control.style.display = 'block';
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);

        var onChangeHandler = function() {
            calculateAndDisplayRoute(directionsService, directionsRenderer);
        };
        document.getElementById('start').addEventListener('change', onChangeHandler);
        document.getElementById('end').addEventListener('change', onChangeHandler);
    }

    function calculateAndDisplayRoute(directionsService, directionsRenderer) {
        var start = document.getElementById('start').value;
        var end = document.getElementById('end').value;
        directionsService.route({
            origin: start,
            destination: end,
            travelMode: 'DRIVING'
        }, function(response, status) {
            if (status === 'OK') {
                directionsRenderer.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA7yGe9xdaHgiQbrY2YmxmTh1yz1C09jI&callback=initMap">
</script>


</html>
