<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <!-- responsive screen size viewport code-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Buddy</title>
    <!--Link to CSS reset-->
    <link rel="stylesheet" type="text/css" href="styles/reset.css">
    <!-- Link to CSS style sheet-->
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <!-- Link to Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Baloo|Montserrat&display=swap" rel="stylesheet">
</head>

<body>
  {{{body}}}
</body>

<!--Javascript file-->
<script src="js/wiki.js"></script>
<script src="js/googleApi.js"></script>

</html>
