<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="title">Travel Buddy</h2>
      <h4 class="title">Plan Your Road Trip</h4>
    </div>
  </div>

  <!--Form-->
  <div class="row">
    <form class="col 12">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Enter your starting location." id="startLocation" type="text" class="validate">
          <label for="startLocation">Starting Location</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Enter your first stop." id="stopOne" type="text" class="validate">
          <label for="stopOne">Stop One</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Enter your second stop." id="stopTwo" type="text" class="validate">
          <label for="stopTwo">Stop Two</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Enter your third stop." id="stopThree" type="text" class="validate">
          <label for="stopThree">Stop Three</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Enter your final destination." id="endingLocation" type="text" class="validate">
          <label for="endingLocation">Final Destination</label>
        </div>
      </div>
      <!--Reset and Submit Buttons-->
      <div class="row">
        <div class="col s12">
          <!--Note: Link to results page-->
          <a class="waves-effect waves-light btn" id="resetButton">Reset</a>
          <button class="btn waves-effect waves-light" id="submitButton" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

