<div class="row banner z-depth-2">
    <div class="col l12" id="mainTitle">
        <div class="title">Travel Buddy!</div>
        <div class="subtitle">Plan Your Road Trip</div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m9 l10">
            <div id="mapArea" class="section scrollspy">
                <h5 class="headingTop">Your Travel Route</h5>
                <!--Google Map-->
                <div class="z-depth-2 googleMap">
                    <iframe id="map1" frameborder="10" style="border:0"
                    allowfullscreen width="500" height="300" style="border:1px solid">
                    </iframe>
                    <iframe id="map2" frameborder="10" style="border:0"
                            allowfullscreen width="500" height="300" style="border:1px solid">
                    </iframe>
                    <iframe id="map3" frameborder="10" style="border:0"
                            allowfullscreen width="500" height="300" style="border:1px solid">
                    </iframe>
                    <iframe id="map4" frameborder="10" style="border:0"
                            allowfullscreen width="500" height="300" style="border:1px solid">
                    </iframe>
                    <iframe id="map5" frameborder="10" style="border:0"
                            allowfullscreen width="500" height="300" style="border:1px solid">
                    </iframe>
                </div>
            </div>
            <div id="hotelArea" class="section scrollspy">
                <h5 class="headingBottom">Along Your Way</h5>
                <!--Hotel API-->
                <div class="z-depth-2 bookingHotel" id = "hotels">

                </div>
            </div>
            <div id="infoArea" class="section scrollspy">
                <h5 class="headingBottom">Additional Information For Your Trip!</h5>
                <!--Additional Trip Information Links-->
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator"
                                     src="https://imgix.ranker.com/user_node_img/55/1094504/original/grand-canyon-all-places-photo-u2?w=280&h=280&fit=crop&crop=faces&q=50&fm=pjpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Tourist Attractions<i
                                        class="material-icons right">more_vert</i></span>
                                <p><a href="https://www.ranker.com/list/best-tourist-attractions-in-america/ranker-travel">The
                                    Best Tourist Attractions in America</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Tourist Attractions<i
                                        class="material-icons right">close</i></span>
                                <p>A ranking of the top 217 tourist attractions in America.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator"
                                     src="https://www.nps.gov/glba/learn/nature/images/2Bear_2.jpg?maxwidth=650&autorotate=false">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">National Parks<i
                                        class="material-icons right">more_vert</i></span>
                                <p><a href="https://www.nps.gov/findapark/index.htm">Search National Parks</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">National Park Service<i
                                        class="material-icons right">close</i></span>
                                <p>Search all 50 states, plus American Samoa, Guam, Puerto Rico, Virgin Islands, and the
                                    Northern Mariana Islands for a National Park to visit.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator"
                                     src="https://static.gasbuddy.com/web/consumer/phones/iphone_X_list.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">GasBuddy<i
                                        class="material-icons right">more_vert</i></span>
                                <p><a href="https://www.gasbuddy.com/">Find the best gas price, anywhere.</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">GasBuddy<i
                                        class="material-icons right">close</i></span>
                                <p>Never pay full price at the pump. Find gas stations that have the cheapest price.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator"
                                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/MTA_NYC_Subway_1_trains_at_125th_St.jpg/1280px-MTA_NYC_Subway_1_trains_at_125th_St.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Transit Road Trips<i
                                        class="material-icons right">more_vert</i></span>
                                <p><a href="https://en.m.wikipedia.org/wiki/List_of_North_American_rapid_transit_systems_by_ridership">A
                                    list of North American rapid transit systems by ridership. </a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Road Trips Without Your Car<i
                                        class="material-icons right">close</i></span>
                                <p>A list of North American rapid transit systems by ridership.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator"
                                     src="https://hitchwiki.org/en/images/en/thumb/9/9c/Kasper-hitch-nh.jpg/250px-Kasper-hitch-nh.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Hitchhiking in America<i
                                        class="material-icons right">more_vert</i></span>
                                <p><a href="https://hitchwiki.org/en/United_States_of_America">HITCHWIKI</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Hitchhiking in America<i
                                        class="material-icons right">close</i></span>
                                <p>A guide to hitchhiking across the United States.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator"
                                     src="https://www.tripsavvy.com/thmb/UiTM8e4fRs0CkjZ_aqVtOqHJ4tI=/800x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/WigwamMotel-5a1f655189eacc00370f7ad6.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Cool Motels<i
                                        class="material-icons right">more_vert</i></span>
                                <p><a href="https://www.tripsavvy.com/coolest-motels-in-the-country-4155228">The Coolest
                                    Motels to Stay at During a Road Trip</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Cool Road Trip Motels<i
                                        class="material-icons right">close</i></span>
                                <p>13 of the coolest roadside motels to stay in during a road trip.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Return to Form button-->
            <div class="returnButton">
                <a class="waves-effect waves-light btn-small red darken-1" id="returnOne" href="/">Return to Search</a>
            </div>
        </div>
        <div class="col hide-on-small-only m3 l2 contentsWrapper">
            <ul class="section table-of-contents pushpin-demo-nav pinned">
                <li><a href="#mapArea">Route</a></li>
                <li><a href="#hotelArea">Accommodations</a></li>
                <li><a href="#infoArea">More Trip Info</a></li>
            </ul>
        </div>
    </div>
</div>