<div class="row banner z-depth-2">
    <div class="col l12" id="mainTitle">
        <div class="title">Travel Buddy!</div>
        <div class="subtitle">Plan Your Road Trip</div>
    </div>
</div>
<div class="container">
    <div class="col hide-on-small-only m3 l2 contentsWrapper">
        <ul class="section table-of-contents">
            <li><a href="#mapArea">Route</a></li>
            <li><a href="#hotelArea">Accommodations</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col s12">
            <div id="mapArea" class="section scrollspy">
                <h5 class="headingTop">Your Travel Route</h5>
                <!--Google Map-->
                <div class="z-depth-2 googleMap">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus sed turpis ut commodo.
                        Integer faucibus, massa ut commodo tristique, nisl lectus convallis sem, ac viverra felis risus
                        eu urna. Nulla finibus massa et ligula mollis porta. Sed ex arcu, tempor ut tempor sed, congue
                        vel dui. Donec vel viverra orci. Donec risus leo, condimentum et egestas at, vestibulum rutrum
                        tortor. Donec mattis tellus quis dui viverra ullamcorper. Aliquam auctor metus a mi mollis, ut
                        sagittis tortor rutrum. Aenean eget tempor lacus, vitae tempus lorem. Donec porta condimentum
                        lorem, vel eleifend quam tristique et. In consequat nisi ex, eu suscipit dolor consectetur
                        sagittis. Aliquam risus nulla, elementum a laoreet sed, gravida quis urna. Proin congue
                        venenatis orci sed efficitur. Maecenas et dui odio. Nulla cursus accumsan ipsum in pulvinar.
                    </p>
                </div>
            </div>
            <div id="hotelArea" class="section scrollspy">
                <h5 class="headingBottom">Hotels Along Your Way</h5>
                <!--Hotel API-->
                <div class="z-depth-2 bookingHotel">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus sed turpis ut commodo.
                        Integer faucibus, massa ut commodo tristique, nisl lectus convallis sem, ac viverra felis risus
                        eu urna. Nulla finibus massa et ligula mollis porta. Sed ex arcu, tempor ut tempor sed, congue
                        vel dui. Donec vel viverra orci. Donec risus leo, condimentum et egestas at, vestibulum rutrum
                        tortor. Donec mattis tellus quis dui viverra ullamcorper. Aliquam auctor metus a mi mollis, ut
                        sagittis tortor rutrum. Aenean eget tempor lacus, vitae tempus lorem. Donec porta condimentum
                        lorem, vel eleifend quam tristique et. In consequat nisi ex, eu suscipit dolor consectetur
                        sagittis. Aliquam risus nulla, elementum a laoreet sed, gravida quis urna. Proin congue
                        venenatis orci sed efficitur. Maecenas et dui odio. Nulla cursus accumsan ipsum in pulvinar.
                    </p>
                    <p>
                        Sed cursus egestas velit. Proin commodo eget ligula vel tristique. Donec velit odio, tristique
                        porttitor luctus scelerisque, dictum eu nisl. Curabitur eget pharetra enim, sit amet aliquam
                        tellus. Cras vel justo aliquet, pellentesque tellus vitae, rhoncus mauris. Vivamus vel nisi
                        vitae diam porttitor suscipit ac non augue. Donec convallis ipsum a ex pellentesque suscipit.
                        Nulla ut ligula et eros porttitor auctor et nec dolor. Mauris tristique accumsan erat eget
                        lobortis. Mauris in molestie justo, vitae fringilla enim. Aenean gravida est nec sapien
                        condimentum, at consectetur libero efficitur.
                    </p>
                </div>
            </div>
            <!--Return to Form button-->
            <div class="returnButton">
                <a class="waves-effect waves-light btn-small red darken-1" id="returnTwo" href="/">Return to Search</a>
            </div>
        </div>
    </div>
</div>